.LoadingTodo-container {
    width: 90%;
    background:linear-gradient(160deg, rgba(11, 200, 194, 0.35) 0%, rgba(8, 196, 43, 0.35) 100%); 
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 32px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.LoadingTodo-text{
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    
    line-height: 24px;
    font-weight: 400;
}
.LoadingTodo-completeIcon,
.LoadingTodo-deleteIcon {
    border-radius: 50px;
    height: 48px;
    width: 48px;
}
.LoadingTodo-completeIcon{
    position: absolute;
    left: 12px;
    top:4px;
}
.LoadingTodo-deleteIcon {
    position: absolute;
    top: -20px;
    right: 0;
}
.LoadingTodo-deleteIcon,
.LoadingTodo-completeIcon,
.LoadingTodo-container {
    background:linear-gradient(160deg, rgba(11, 200, 194, 0.35) 0%, rgba(8, 196, 43, 0.35) 100%); 
    background-size: 400% 400%;
    border-radius: 50px;
    animation: loadingAnimation 3s ease-in-out infinite;
}
@keyframes loadingAnimation {
    0% {
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}